[2015-06-25 14:58] Romanx opened #1 "IsTruthy may need to be implemented for explicit cases"
`IsTruthy` could be incorrect for certain implementations of the interface such as `JToken` which implements `IEnumerable` and can have a value but not contain child elements which would cause `IEnumerable` to be falsey.

It may be worth adding a registry to this so you can override or add to this much like the other planned extensions.

[2015-07-20 15:37] #1 closed

[2015-08-03 12:02] Romanx opened #3 "System.String implements IEnumerable"
Since System.String impements IEnumerable it gets looped through as though it's a list. For now I can just add certain types to an IEnumerable blacklist to avoid this.

[2015-08-05 20:34] #3 closed

[2015-09-23 05:01] thornley-touchstar opened #4 "Namespace Class Clash"
Would it make sense to change the name of the main stubble class (and interface) to StubbleRenderer?

I noticed that the class name clashes with the root namespace (Stubble.Core.Stubble) so references to the class need to be fully qualified. Your tests don't have this problem because they all exist in Stubble.Core.Tests.

So for a simple contrived example: -

[code]

You get the compiler error: -

[2015-09-23 08:45] Romanx commented on #4
Hey there,

This is a good point and exactly why Stubble is still in alpha, thank you for trying it out and spotting this. I'll have a look at changing the name-spacing to be something less conflicting to hopefully resolve this issue.

[2015-09-23 18:48] Romanx commented on #4
Hi there,

I had a look at this, this evening and it is not a good experience. After some thinking and tweaking I decided to go with your suggestion and update the naming of the following classes/interfaces:

- **IStubble** → IStubbleRenderer
- **Stubble** → StubbleRenderer
- **StubbleStatic** → StaticStubbleRenderer

I should be pushing a new build to nuget.org as Alpha 8 in the next few minutes

[2015-09-23 18:54] #4 closed

[2015-09-23 19:27] Romanx opened #5 "Platform and Framework Builds"
It would be good if we could target Stubble for a variety of platforms and framework versions much like [NodaTime](https://github.com/nodatime/nodatime) as it would be good for People to be able to use Stubble on Mono, or DNX or .Net Core .etc

[2015-09-29 03:00] thornley-touchstar commented on #4
Great thanks for the fast turnaround :)

[2015-10-18 13:38] Romanx opened #6 "Infinite recursion depth check is never reset"
Stubble will fail as it will eventually always reach the max recursion depth after enough use.

[2015-10-18 15:49] Romanx commented on #6
Fixed in 1.0.0 Alpha 9

[2015-10-18 15:49] #6 closed

[2016-03-14 16:03] Romanx opened #7 "Allow case insensitive matching on context values"
This is useful if taking templates from javascript style naming to c# style naming e.g.

myVariable → MyVariable

[2016-03-15 11:32] #7 closed

[2016-08-16 19:41] peterlazzarino opened #9 "Newest alpha release not available on Nuget"
I understand this is kind of a ridiculous request but I am working on an porting an app that used Nustache to .Net core and it seems like your previous version wasn't compatible with the latest version of .Net core. I'm assuming the new alpha will have compatibility so I was wondering when it will be available on Nuget?

Thanks

[2016-08-17 08:03] Romanx commented on #9
Hey,

It's not a ridiculous request as we do currently have these on nuget (however the ordering is currently broken in nuget due to me switching to SemVer v2.0 woops). You can find the newest package on nuget here: https://www.nuget.org/packages/Stubble.Core/1.0.0-alpha15

As a warning however, Stubble is still in alpha and i'm making the occasional breaking change in the interfaces. Feel free to

[2016-08-17 13:16] peterlazzarino commented on #9
Thanks! The new version works great and was a simple port over from Nustache. I'll let you know if we find any issues and will try to contribute as well.

[2016-10-20 16:35] #9 closed

[2017-03-02 17:24] badstorm opened #10 "StubbleException: You have reached the maximum recursion limit of 256."
I have a UWP project that use Stubble to render some mustache file. Some time I'll get this exception:
`You have reached the maximum recursion limit of 256.`
What does it means?

Thanks

[2017-03-03 09:31] Romanx commented on #10
Hi there,

That means your template is most likely recursive or you have a very deep structure that you're trying to render. If you know your structure is very deep you can increase the limit this is done by using the StubbleBuilder to update the property calling `SetMaxRecursionDepth`. This can't be done on the `StaticStubbleRenderer`.

If you don't think it's your data then it could be your temp

[2017-03-28 07:10] Romanx opened #11 "Sourcelink Support"
We should use [SourceLink](https://github.com/ctaggart/SourceLink/) to provide symbols for debugging. The only pitfall I can see currently is that OpenCover may not look for the PDB inside the dll.

[2017-04-12 15:44] Romanx commented on #10
@badstorm did you have any luck with your problem?

[2017-04-12 21:43] Baccanno commented on #5
Related to this then, Unity3D compatibilty would be awesome https://github.com/jdiamond/Nustache/issues/127

[2017-04-29 14:26] Romanx opened #12 "Replace Regex Parser with Non-Regex parser"
The current regex parser creates more garbage than needed and also makes it difficult to add new complicated tags that include for example arguments.

Replace the parser and renderers with those inspired by Markdig. Parse the template using tag explicit parsers (which can be added to) and render them using tag explict renderers allowing eventually for different kinds of renderers such as a compile

[2017-04-29 14:32] Romanx opened #13 "Visitor Pattern based renderer"
Change the tag renderers to use a more visitor based pattern so we can have different kinds of visitors that take the same tags. This will eventually allow for different kinds of renderers so we can render to a string, or a function or even an assembly.

[2017-04-29 14:43] Romanx opened #14 "Migrate build to use Cake"
Since we're building cross platform using the new CLI i'm finding that the build steps are becoming out of sync in the two environments and much of the logic is being put into the appveyor and travis configs.

We should migrate these steps to [Cake](cakebuild.net) which will allow consistency while also allowing specific logic for each such as the fact we can't currently do code coverage on Travis

[2017-05-02 19:09] Romanx opened #15 "Add asynchronous loading to IStubbleLoader"
It's certainly possible that people will want to store templates on the file system or in a database and so loading interfaces could be blocking.

We should add an async method to the `IStubbleRenderer` which calls an `AsyncLoad` method of `IStubbleBuilder`. For efficiency (since the majority of the calls should be non-blocking) the async interface should implement `ValueTask`

[2017-05-09 19:58] #12 closed

[2017-05-09 19:58] #13 closed

[2017-05-09 19:58] #14 closed

[2017-05-09 19:58] #15 closed

[2017-05-09 20:00] Romanx commented on #10
@badstorm I've rewritten our parsing and rendering system for Alpha 16. This should solve any of the odd edges with regards to recursive template. I'm going to close this but feel free to post back if you find you're having any issues.

[2017-05-09 20:00] #10 closed

[2017-05-09 20:04] Romanx commented on #5
@Baccanno With the latest alpha we're running on all the newest pieces targeting netstandard 1.3 which gives us compatibility with everything you can find [here](https://docs.microsoft.com/en-us/dotnet/articles/standard/library) and net45. Unfortunately it would be quite a bit of work and we'd loose functionality back porting to net40 which wouldwork with the current version of Unity3D.

Hopefully

[2017-05-09 20:04] #5 closed

[2017-09-29 12:23] schmitch opened #17 "empty Dictionary will yield "System.Collections...""
Hello, I'm not sure if this is a bug, but if I do:

[code]
it will print `System.Collections.Generic.Dictionary`2[System.String,System.Object]`
I can also set Foo to null and it will still give me that message, wouldn't it be better to just show nothing or return a empty string?  actually this will happen as soon as I only use `{{ foo }}`. if foo is not defined it will just return a empty string.

[2017-10-02 06:31] Romanx commented on #17
Hi there,

Looking at your first example it shouldn't return anything since the value `Foo` shouldn't exist in the data hash, it'll look for the key, find no result and then render an empty string.

Could you provide a simple reproduction case so that I can run it in a test and also the version of stubble you're currently running? There have been some breaking changes in the last few alpha release

[2017-10-02 07:26] schmitch commented on #17
Actually running:
[code]
should return an empty string.
But it yields `System.Collections.Generic.Dictionary\`2[System.String,System.Object]`. Sadly I'm not to familiar with xUnit.

[2017-10-02 11:04] Romanx commented on #17
@schmitch that sounds like a bug then. Let me take a look later on today and see if I can reproduce the issue.

[2017-10-02 17:40] #17 closed

[2017-10-02 17:47] Romanx commented on #17
@schmitch You were entirely right and this was a bug with looking up nested values from a context. I've added some tests around it and found a related issue in that nested lookups weren't throwing when they should be when a flag was set.

I've just made a new release, Alpha 17 containing the changes which should appear on Nuget soon and fix your problems. Please feel free to open another issue if

[2018-02-11 20:44] Romanx opened #18 "Compilation of Templates"
To keep parity with Nustache we should provide a renderer that will render templates to an Expression Tree which can be compiled to a strongly typed Func.

[2018-02-19 16:26] DavidRouyer opened #19 "Update the "How to use" section and put it in the docs"
The "How to use" section is not up to date.

The example:
[code]

should be:
[code]

[2018-03-17 11:20] MorphiksBuilder commented on #5
Could this be reopened ?
Unity now supports c# 6.
Though some of c# 7 features are there in the code.
We're starting a fork for a unity 3D port (including asmdef definitions https://docs.unity3d.com/Manual/ScriptCompilationAssemblyDefinitionFiles.html)

[2018-04-18 15:15] Baccanno commented on #19
Hi Romanx,
We've been using Nustach for a while now, though we're getting issues with it. (lately, nesting context not working for instance, a simple test with {{Data.Value}} works but {{#Data}}{{Value}}{{/Data}} is empty... with { Data : { Value : "MyValue" }}, though it should as specified in "Non-False Values" mustache specification )
We're more keen on mustache blunt specification anyway and w

[2018-05-23 08:56] freerider7777 commented on #19
How is a new release going? :)

[2018-05-24 07:50] Romanx commented on #19
Hey @freerider7777 I'm actually just polishing up some performance work along with compiling templates which will bring my feature compatibility with Nustache as 1-to-1. You can see the work on the feature/compilation branch. Hoping to get a new alpha out this weekend with a look at a beta shortly after that.

Any feedback after the release will be more than welcomed!

[2018-06-24 09:49] Elringus opened #23 "A way to globally disable HTML escaping"
Hi, Thank you for this system, it works great so far!

I have a couple questions:
1. Is there a way to globally disable HTML escaping, so I won't have to use triple mustaches everywhere in my non-html templates? Something like [overriding 'escape' function](https://stackoverflow.com/a/23057003/1202251) in the javascript SDK would be nice.
2. Currently, when a tag or section is not found or is null

[2018-06-25 07:05] Romanx commented on #23
Hi there,

It should be easy enough to add a skip html escaping flag to the render settings. I'll add it as a feature in the next release. As for the second would you mind opening a separate issue with a small reproduction case as that doesn't sound like it should be doing that? Making a separate issue will allow me to track them independently a little easier.

Thanks!

[2018-06-25 07:34] Elringus opened #24 "Emtpy lines are renderer for non-existing tags and sections"
[code]

Will render following:
![](https://i.gyazo.com/53391d37e2f6482e3b1b934960ff0ccf.png)

Expected result:
![](https://i.gyazo.com/b1a6e1be079ace07fa3938f6a2fb4f24.png)

[2018-06-27 20:40] Romanx commented on #24
Hi there,

I've just taken a look at this with regards to the mustache spec and from what I can see we're doing the "correct" thing which is semantically the lines go `\n{{Tag}}\n` so when the tag is empty it becomes `\n\n` causing the empty lines. I've checked the implementation of mustache.js in the [codepen here](https://codepen.io/anon/pen/rKqbPa?editors=1111) which seems to do the same.

Whil

[2018-06-27 20:51] Elringus commented on #24
Hi, Thank you for looking into that! The solution with post-rendering hooks will work, I think. My case is about rendering multiple shader code (CG) variants based on single mustache template. There are a lot of places in the templates, where some tags or sections should not be rendered in some variants and the resulting documents are starting to look a bit... holey :) It's not critical in any way

[2018-07-01 14:37] #19 closed

[2018-07-01 14:37] #18 closed

[2018-07-01 19:51] Romanx commented on #23
@Elringus Hi there, i've implemented this today and should be cutting an Alpha 19 release tomorrow.

Thanks,

[2018-07-02 16:46] Elringus commented on #23
I've just tested it in my project and can confirm it's working. Thanks for implementing the feature so fast!

[2018-07-02 18:43] Romanx commented on #23
Hey thank you for testing it @Elringus I've released this to NuGet as Alpha 19. Please let me know if you have any issues.

Thanks!

[2018-07-02 18:43] #23 closed

[2018-07-02 18:43] Romanx commented on #11
Done and released as part of Alpha 19

[2018-07-02 18:43] #11 closed

[2018-07-02 19:45] Romanx opened #26 "Increase minimum supported netstandard version to 2.0"
This seems to be the default recommended version by microsoft and is the suggested version to target. We'll still provide a Net45 build for anyone on .Net Framework who would be left unsupported i.e. Net46

[2018-07-05 14:44] Romanx opened #27 "Prototype Span/Memory based parser"
To see if we can get better speed, clarity or less garbage generation

[2018-07-05 15:15] Romanx opened #29 "Prep for 1.0 Release"
- [x] Write any upgrade notes
- [x] Update benchmark numbers
- [x] Write blog post

[2018-07-18 19:56] #26 closed

[2018-07-25 03:28] cipchk opened #30 "How support dynamic type in view value"
the example code:

[code]

I expected value:

[code]

But just only:

[code]

[2018-07-25 07:55] Romanx commented on #30
Hi @cipchk,

JObjects are a special case of dynamic which is handled separately from the main library. If you install the [Stubble.Extensions.JsonNet](https://github.com/StubbleOrg/Stubble.Extensions.JsonNet) library then that should work with only a minor change to the builder.

Let me know if you have any other questions.

[2018-07-25 10:18] cipchk commented on #30
Hi @Romanx,

I solved the problem via Stubble.Extensions.JsonNet, thank you very much about your work.

[2018-07-25 10:18] #30 closed

[2018-07-30 17:41] #29 closed

[2018-09-06 20:05] CoffeeDreamLabs opened #31 "Not able to override ParserPipeline"
I tried to remove Parsers from the Pipeline.

First I tried to use the RendererSettingsBuilder SetParserPipeline method, but the ParserPipeline class is internal - no luck there.

And there is no way to bypass the ParserPipeline class :(

But why even provide a SetParserPipeline method then?

[2018-09-08 11:52] Romanx commented on #31
Hi there,

Sorry the documentation around this is rough at the moment but to make sure of the semantics we use the builder pattern for creating of parser pipelines. If you wanted to remove a parser (depending on which one you're removing) you'd do:
[code]

The code above removes the interpolation tag parser from the pipeline. I'm looking at ways to improve the usability of this so any suggestions

[2018-09-11 21:03] CoffeeDreamLabs commented on #31
I think it would be easier if one could instantiate the ParserPipeline with the Parsers just like the Builder does.

Sure, someone might have to refactor their code if the ParserPipeline implementation changes but it doesn’t seem that complex to me.

[2018-09-12 07:26] Romanx commented on #31
It would be simpler in this way I agree however the most common scenario for users is currently optimized since no parser pipeline has to be configured and we can share the pipeline across all parsers using a shared pipeline since it's stateless.

I wanted to allow more complex scenarios such as adding or removing parsers to be aided by helper methods so that advanced users who were performing the

[2018-09-13 05:20] yufeih opened #32 "ValueGetters and EnumerationConverters for CompilationRenderer"
Here is currently no way to set `ValueGetters in `CompilerSettingsBuilder`, it is missing `AddValueGetter` and `AddEnumerationConverters`.

[2018-09-14 08:11] Romanx commented on #32
Hi there,

That's a massive oversight and is definitely supposed to be there. Thanks for reporting it.

It looks like the enumeration converters aren't wired up at all so i'll look at why there were dropped for 1.0 and add them back.

[2018-09-18 15:41] x4dr commented on #19
https://github.com/StubbleOrg/Stubble/wiki
still does not reflect this.
i needed to come here and read the should be part of a closed issue to actually begin using stubble at all

[2018-09-19 17:06] Romanx commented on #19
@x4dr Really sorry for the trouble that you ran into. I'll update the wiki today to redirect to the how-to docs.

Thanks for posting here and letting me know.

[2018-10-14 17:22] #32 closed, assigned to Romanx

[2018-10-14 21:05] RouR commented on #23
I guess [It should be](https://github.com/StubbleOrg/Stubble/blob/980e5de92c787cba1b5dd515a308c5a8296f8ebd/test/Stubble.Core.Tests/StubbleTest.cs#L350) configurable by StubbleBuilder().Configure

[2018-10-15 07:19] Romanx commented on #23
Hi @RouR, it's currently configured in a per render capacity since it doesn't affect anything to do with the representation of the template just how we output the results. Another reason for our thinking was that the option only affects this specific template and may not affect all templates so wasn't a candidate for the actual builder itself.

Would you find it more intuitive if it was on a build

[2018-10-15 07:47] RouR commented on #23
It`s good way to have ability to override default settings for special template, but I expect what all default values can be configured in one place - in method Configure

[2018-10-28 22:08] rlabrecque opened #35 "How do I loop over a dictionary?"
Hey there, sorry for the question but I've exhausted all the tests/example code that I could find.

I've got a template that is similar to:

[code]

And my data context is along the lines of:
[code]

My usage so far:
[code]

I was using a different library before that would output the following assuming `myBase.Components.Schemas.Count == 3` :

[code]

Stubble only outputs:

[code]

I have figured

[2018-11-06 09:06] Romanx commented on #35
Hi @rlabrecque,

What's happening here is that we exclude Dictionaries by default from being able to be enumerated in section tags. The main reason for this is that we're trying to match the idiomatic way that mustache templates are usually written since in javascript objects are effectively dictionaries and you can only loop over arrays of items.

I've got an example here [in this codepen](https:

[2018-11-07 10:47] StarLeafRob opened #36 "Variable tags in a partial template can be rendered with extra spaces at the end"
I've come across a bug when rendering partial templates in Stubble.Core Version 1.1.2
If the partial tag is indented, e.g.
[code]
Then additional spaces can get appended to the end of variable tags that appear in the partial.
e.g if Body.mustache is
[code]
and the data is
[code]
then the output is
[code]
Note the extra spaces that get rendered at the end of {{Url}}.

See https://github.com/StarLea

[2018-11-08 08:32] Romanx commented on #36
Hi there,

Thanks for opening the issue. This looks to be to do with how we handle the indenting with partial templates. Thank you for the reproduction I should be able to have a test and look at a clean way to handle this shortly.

If you'd like to look at where the issue is occurring then i'd be more than happy to help you contribute a fix.

Thanks!

[2018-11-08 17:13] gtbuchanan opened #37 "Add Cake plugin"
It would be great to easily use Mustache in Cake scripts. I propose creating a Cake.Stubble plugin with some signatures like:

[code]

The Cake team [discussed](https://github.com/cake-build/cake/issues/124) adding templating support to Cake at one point, but I think it fell through.

[2018-11-08 18:00] gtbuchanan opened #38 "Add Single File Generator for Visual Studio"
It's possible to have Visual Studio generate a file on save of another file using a [Single File Generator](https://docs.microsoft.com/en-us/visualstudio/extensibility/internals/implementing-single-file-generators?view=vs-2017). T4 templates use the built-in `TextTemplatingFileGenerator`, but I believe other custom generators can be installed by a Visual Studio Extension.

It'd be great to have th

[2018-11-08 18:42] Romanx commented on #37
Hi there,

I'd actually thought about doing this recently since i've actually written a Cake plugin already [Cake.Coverlet](https://github.com/romanx/cake.coverlet).

I'll add the enhancement tag to this but I will likely open another repository if I do this.

Thanks,

[2018-11-08 20:17] rlabrecque commented on #35
How do you solve the json trailing comma without IsFirst/IsLast?

Like
[code]

This does help a lot, adding to the current scope would be my primary request for sure.

My use case is specifically parsing OpenAPI and generating various other languages from that. So I can't really change the structures, but I've been using AddValueGetter which covers everything except IsFirst/IsLast. Things are goin

[2018-11-11 15:34] Romanx commented on #35
Hi @rlabrecque,

Do you control the objects you're passing into the renderer? If so then you could enrich the data with the IsFirst, IsLast. It's not really something that the renderer would concern itself with. However this does bring to light the fact that you can control almost every part of the value getting and templating process but can't change the enumeration blacklist. I think moving this

[2018-11-11 16:52] Romanx commented on #36
Hi @StarLeafRob,

I found some time this weekend to look at this. It seems to be related to the way we try to _fold_ literal tags during parsing when they're next to each other to simplify the rendering. This wasn't taking indenting into account correctly and will now only fold tags that are the same indent level which solves the problem.

Thanks for reporting it and i'll try get a bug fix out for

[2018-11-11 16:54] Romanx commented on #38
Hi @gtbuchanan,

I don't actually think i've ever used the functionality in visual studio so am not entirely sure what it'd be used for. What would you like the file to be transformed in to, a `.cs` file? If so i'd probably recommend [Scripty](https://github.com/daveaglick/Scripty) over this since it's a much more fully featured tool. I'd be interested in hearing your ideas though.

[2018-11-11 18:02] rlabrecque commented on #35
I can't modify the structure passed in, but I do 'own' it before passing it in, the first thing that I tried was creating extension methods, and I was a little disappointed that didn't work, as that's how the previous mustache library I was using functioned. But `AddValueGetter` has actually worked out very well (with the exception of IsFirst/IsLast.)

Being able to change the enumeration blacklis

[2018-11-12 08:31] Romanx commented on #35
In that context your append would add a new entry to the context `Value` however we would have to give it a key which in this case would have to be provided so would be no different to pushing it into the object above.

Extension methods is a complicated one since we're using reflection to discover what methods, properties and fields are available. It's possible we would add a method for registeri

[2018-11-12 21:44] rlabrecque commented on #35
Hmm yeah, I'd just want it to "spread" the object at that level, not add the level of indirection.

Yeah, that sounds fantastic! Really just any cleaner way of doing IsFirst/IsLast or just generally solving the json trailing comma problem would be ideal. I don't mind losing `Name = v.Key` and going back to just `Key`.

Overall though I'm extremely happy with how things have worked out 👍

[2018-11-13 08:16] Romanx commented on #35
I'm glad that you're happy with your solution. Let me know if we can integrate any of the things you had to change to perhaps make it easier without adding any complexity. I'll close this for now but try to remember to comment here when i'm done with the helper library 👍

[2018-11-13 08:16] #35 closed

[2018-11-15 14:37] gtbuchanan commented on #38
@Romanx With T4, the generator functionality is used to automatically create the resulting file when the template is saved in Visual Studio. However, T4 has a built-in construct for defining the output file extension:

    <#@ output extension=".cs" #>

After thinking about it a little longer, the following would be required for this to work:
1. The template would need to define the output file ex

[2018-12-05 11:41] Palloquin opened #39 "Powershell?"
Hi all,

_Disclaimer:_ I am not a very versed .net developer....

I am looking to use Mustache templates in PowerShell. Would it be doable to use Stubble?

[2018-12-05 15:48] Palloquin commented on #39
Okay, I'm still very interested in discussing this topic.

For now I'm building a VS project that will expose PowerShell Cmdlets to interact with Stubble

A first working test got me to this cmdlet:
`Invoke-Stubble -template $template -json $data`

It will do as a basic stubble template merge. It takes a string as template and a string holding JSON. It works.

I program a lot, but this is new terr

[2018-12-06 12:05] Palloquin commented on #39
Still very basic, but in case anybody is interested:
https://github.com/Palloquin/PSStubble/

[2018-12-07 08:53] Romanx commented on #39
Hey @Palloquin thanks for posting this here for anyone else who may need it. I don't use powershell that much myself but I can definitely see the use. You may want to consider taking a dependency on [Json.Net](https://www.nuget.org/packages/Newtonsoft.Json/) for the json deserialization since deserializing to `Dictionary<string, object>` can make it harder for Stubble to work out your types and yo

[2018-12-07 08:55] Romanx commented on #39
If anyone wants to help make this better please look at https://github.com/Palloquin/PSStubble/ and contribute. @Palloquin if this gets some attention i'll add it to our readme. Thanks again.

[2018-12-07 08:55] #39 closed

[2018-12-11 09:24] Palloquin commented on #39
Hey @Romanx, Thank you for your support and advice. I changed over to using Json.Net!

[2018-12-13 14:30] alperenbelgic opened #40 "Can I use one StubbleVisitorRenderer instance per application instance?"
Hi,
Thank you for this great library you provide.
I have a question about its usage.
Is it safe to use RenderAsync method of a StubbleVisitorRenderer instance in parallel with different parameters?
I am planning to provide it in a service wrapper which will have one instance at a time via Unity.
Thank you,

[2018-12-13 19:55] Romanx commented on #40
Hi there,

The renderer should be thread safe as we've taken as many precautions as we know to make it so. Please let us know if you run into any issues but I have used it in DI as a singleton instance, in an API having many requests at once without an issue.

Thanks,

[2018-12-13 19:55] Romanx commented on #40
ques

[2018-12-13 19:55] #40 closed

[2018-12-16 00:44] glennawatson opened #41 "If a reflected member is declared twice exception will occur"
I am using the type reflection based approach to convert ReactiveUI's EventBuilder over to use Stubble, previously it was using Mustache.

What this event builder does is generate code based around events in a class.

The ReflectionHelper.GetMemberFunctionLookup() can't handle this case at the moment due to just directly adding to the dictionary and not checking to see if the key already exists. I

[2018-12-30 13:11] Romanx opened #44 "IEnumerator isn't reset after enumeration in a context"
When enumerating through an IEnumerator we don't reset after the first time so if using twice in the same context no values are returned.

[2018-12-30 13:14] Romanx commented on #35
@rlabrecque I've pushed public the work that i've been doing on the Stubble.Helpers library [here](https://github.com/StubbleOrg/Stubble.Helpers) if you'd like to try it. Currently it's not published on nuget but you could manually get the nupkg from appveyor [here.](https://ci.appveyor.com/project/Romanx/stubble-helpers)

[2018-12-30 13:31] Romanx opened #45 "Allow Enumerable Blacklist to be overridden"
Currently this is hard coded and doesn't allow looping through thing such as dictionaries which you may want in your specific case.

[2018-12-30 18:06] Romanx commented on #36
This has now been released in version 1.2 on nuget. Thanks very much for your contribution! 👍

[2018-12-30 18:06] #36 closed

[2018-12-30 18:07] Romanx commented on #41
This has now been released in version 1.2 on nuget. Thanks very much for your contribution! 👍

[2018-12-30 18:07] #41 closed

[2018-12-30 18:07] Romanx commented on #44
@rlabrecque This has now been released in version 1.2 on nuget. Thanks very much for your contribution! 👍

[2018-12-30 18:07] #44 closed

[2018-12-30 18:07] #45 closed

[2019-01-24 16:47] Baccanno opened #46 "Add render function overload for Lambdas"
[EDIT]
I'm looking at SectionTokenRenderer and I can't see any lambdas that would hand the current context.
What could be handy is that a rendering function is passed to the lambdas like in mustache.js

Not sure about the code, but it's the idea.

[code]

[code]

Usage :
[code]

[ORIGINAL]
Hi I'm comming from Nustache, and mainly I want to swap to Stubble because it is maintained and closer to Mus

[2019-01-29 08:42] Romanx commented on #46
Hi there,

Originally we did pass a render function much like the mustache.js version but after looking at the spec it defines that any values returned from lambdas should be interpolated and rendered based on the current context.

If you know the string value in your context that is unchanging you could build a string that will then be interpolated. Another option is to use the lambda signature t

[2019-01-29 10:18] Baccanno commented on #46
Hi Thanks for you answer,

In Nustache the returned string is not interpolated in the context, i.e. `{{something}}`  will render alike.

You're positive that in Stubble this behaviour is changed and the string will be interpolated ?

How would you handle the dynamic thing I'm trying to implement with this way ?

[code]
Will this work ? However, how do I retrieve the current context from the curren

[2019-02-06 14:25] Baccanno commented on #46
I'm trying to achieve exactly the example I've shown. That's why I also cited Mustache.js as here they provide a Render function that will allow rendering in lambdas from context/scope/partials. And it does so without giving access to the context and thus it can't be tampered with.

I'd really like to avoid using a JS parser to use Mustach.js capabilities, adding a 3rd lambda function to the 2 you

[2019-02-06 14:29] Baccanno commented on #46
I'd like to be able to do this use case : https://github.com/janl/mustache.js#functions
[code]

[2019-02-08 20:23] Romanx commented on #46
@Baccanno thank you for your help with this. I've decided that adding this overload is not a large amount of work, it won't have too much overhead for others using the library and will unlock migrations for people from `mustache.js`.

I've updated the name of the issue and added this to a milestone. I'll update here when I have more

Thanks,

[2019-02-10 11:25] Baccanno commented on #46
I'm very pleased to hear this. In my opinion this what made mustache very powerful when I used it in js projects.

[2019-03-07 04:44] jerrychoubear opened #48 "Link in how-to.md is not found"
The full spec can be found "[here](https://github.com/StubbleOrg/Stubble/blob/master/docs/mustache.github.io/mustache.5.html)". <= this link.

[2019-03-07 08:37] Romanx commented on #48
Hi there, thanks for the report.

I've fixed the link 👍

[2019-03-07 08:37] #48 closed

[2019-04-28 16:53] Romanx opened #50 "Make RenderSettings and RendererSettings public on Context"
This will allow people to use them when extending tag renderers

[2019-04-29 08:04] emazv72 opened #51 "Feature: Add string formatter extension"
Would you consider adding a non standard, .net related extension like this one:

https://github.com/emazv72/Stubble.Extensions.StringFormatter

Thank you

[2019-05-18 18:20] Romanx opened #53 "Fix: Zero Numeric literals should be considered falsey"

[2019-05-18 18:25] Romanx commented on #51
Hi there,

This looks like a really useful extension however we probably wouldn't use it in the core library like the other extensions for `System.Data`.

It may be a good idea however to add a link in the readme for extensions and highlight them for discovery.

[2019-05-18 18:25] #51 closed

[2019-05-23 08:12] Bchir opened #54 "Add Assert Template compile correctly for unit testing"
Add Assert Template compile correctly for unit testing

[2019-05-23 15:17] Romanx commented on #54
Hi there,

Would you mind explaining what use case you could see for this that we could help with?

We already throw exceptions when parsing and rendering that you can use for such tracking so you could easily write an extension for your preferred asserting framework.

[2019-05-23 15:35] Bchir commented on #54
Hi,
Yes sure, here is what am expecting the assert function should do :
the assert function will need the template and the class that we would pass as view

- Assert that the template doesn't have any syntax error like not  Unclosed Block
- Assert that there is no unknown property used like for example my class is a user class and it has username and email , but in the template i used phoneNumber,

[2019-06-02 17:36] Romanx commented on #53
This was just released with 1.3 on Nuget.  Thank you @emazv72 for the contribution

[2019-06-02 17:36] #53 closed

[2019-06-02 17:36] Romanx commented on #50
This was just released with 1.3 on Nuget.  Thank you @emazv72 for the contribution

[2019-06-02 17:36] #50 closed

[2019-06-02 17:37] Romanx commented on #46
This was just released with 1.3 on Nuget.  Thank you @Baccanno for working through this with me. Hopefully this solves your problem.

[2019-06-02 17:37] #46 closed

[2019-07-07 20:55] Tasteful opened #56 "SetParserPipeline and ParserPipelineBuilder"
Hi,

`BaseSettingsBuilder.SetParserPipeline` exists today to be able to set a pipeline with own parsers, this is used in https://github.com/StubbleOrg/Stubble.Helpers project to be able to add template methods that is executed instead of inserting values for the tokens that is found. This `SetParserPipeline` method is little hard to work with when you have multiple extensions project that all need

[2019-07-13 17:22] Romanx commented on #56
I think this sounds like a great idea, it's a more advanced use case so I think people will understand that the order you apply these overrides will matter.

[2019-07-15 07:08] Tasteful commented on #56
I will look into this.

[2019-07-15 07:52] Romanx commented on #56
That's great, please let me know if you need any help

[2019-07-17 09:57] kislovs opened #59 "Stubble Compilation doesn't render correctly from Dictionary<string, object>"
I have the following template:
[code]

and have following data in json
[code]

Which look this way as at runtime:
![image](https://user-images.githubusercontent.com/21275299/61366351-9d1c4a00-a8b3-11e9-9e6a-7d6c763c2271.png)

When I use usual `new StubbleBuilder().Build().Render(Template, Context)`, I get this:
![image](https://user-images.githubusercontent.com/21275299/61366435-c2a95380-a8b3-11e9

[2019-07-17 10:45] Romanx commented on #59
Hi there,

Unfortunately the reason for this is due to the fact you're passing a Dictionary<string, object> which means the compilation renderer has no idea of the types you're passing and so can't be sure what it needs to render.

If you convert your JSON into full classes then it should work correctly. This is unfortunately one of the limitations of the compilation renderer since the work is don

[2019-07-17 11:05] kislovs commented on #59
Unfortunately, I can't create full classes, because I have no idea what JSON I get, because user defines template, save it and later use that to render that template with requested data.

I have debugged it a little bit and found that method which should create compiled context mismatch nesting level (it should be `{ caption, src.Item["Param_0"].Item["caption"] }`, but it matches `{ caption, src.I

[2019-07-17 11:14] Romanx commented on #59
Dynamic will have the same problem if you're looking to compile. I'd recommend using the standard renderer if you're not sure about the shape of your input.

Also if you're using JSON I'd suggest looking at [Stubble.Extensions.JsonNet](https://github.com/StubbleOrg/Stubble.Extensions.JsonNet) which may make it a little easier for you since you can just parse into JObject. Only if you're using Json

[2019-07-17 11:20] kislovs commented on #59
Okay, I will use usual async rendering. It will speed up template rendering and reduce memory usages by 4 times in comparison with library which I used before.
So thank you for the library and thank you for fast reply :)

[2019-07-17 11:27] Romanx commented on #59
No worries, please let us know if you have any issues!

[2019-07-17 11:27] #59 closed

[2019-07-18 11:00] hlhielkema opened #60 "Hash sign(#) missing in Stubble/docs/how-to.md?"
The following example code was not working for me (in `Stubble/docs/how-to.md`):
*(I did not copy the code but used it as a example.)*

[code]
I found in `Stubble/test/Stubble.Core.Tests/StaticStubbleTest.cs` that a **#** is required in the start tag ({{#Foo}}).

[2019-07-18 12:38] #60 closed

[2019-07-18 12:38] Romanx commented on #60
Thank you very much for raising the issue. It's been fixed now.

[2019-07-20 15:38] Romanx opened #63 "Culture is assumed to be en-GB for tests"
The culture for the tests is currently assumed, we tried replacing it using both the xunit sample for use culture [here](https://github.com/xunit/samples.xunit/blob/master/UseCulture/UseCultureAttribute.cs) and with the extension library by natemcmaster [here.](https://github.com/natemcmaster/xunit-extensions/blob/master/src/McMaster.Extensions.Xunit/UseCultureAttribute.cs)

It only seems to fail

[2019-07-29 09:22] mingwli opened #65 "Support custom HtmlEncode"
Instead of using `WebUtility.HtmlEncode`, is it possible to support customized html encode method?

[2019-07-29 13:39] Romanx commented on #65
Hey,

Yeah I agree this is a good idea allowing a custom encode method to be provided and fallback to the `WebUtility.HtmlEncode` function.

If you'd like to contribute the functionality I'd be happy to help with the design

[2019-08-02 14:36] marijnz0r opened #66 "Render line breaks"
I would like to render `\r`, `\n` and `\r\n` as a line break. Looking at other issues and the documentation I tried playing with RenderSettings SkipHtmlEncoding true, but this did not help me.
Is there a place I can hook into the rendering process to replace line breaks with a `<br>` tag to make this work for me?
Thanks for all your hard work!

[2019-08-02 19:50] 304NotModified opened #67 "Alpha?"
Is this library still considerd alpha? The nuget packages don't have the alpha postfix anymore, but it's in the readme:

![image](https://user-images.githubusercontent.com/5808377/62395100-87737980-b56f-11e9-8dd1-af7f516a6a31.png)

[2019-08-02 21:31] Romanx commented on #67
Hey thanks for leaving a comment.

The library is not in alpha, it's just a relic from the past that we need to fix. Thanks for pointing it out

[2019-08-02 21:35] #67 closed

[2019-08-02 21:35] Romanx commented on #67
This has now been updated, thanks again for pointing this out

[2019-08-07 17:23] Romanx commented on #54
Hey there,

I've thought about this request and think it's probably best to live separately from the core library. If you'd be interested in creating an asserting project I can give you an example of something building on Xunit's existing functionality which would cover some of the basic cases you mentioned.
[code]

Please let me know if you have any issues, thanks for using the library!

[2019-08-07 17:23] #54 closed

[2019-08-07 17:26] Romanx commented on #66
Hey there,

Thank you for the suggestion, we actually had a discussion as part of #24 about adding pre-processing and post-processing hooks to the tokenzation and rendering pipelines as a possible extension.

If you don't mind i'm going to use this issue as the base of the feature and try to get it included in a future release.

[2019-08-07 17:28] Romanx commented on #24
Hey there, we're thinking of implementing the proposed solution of adding hooks into the pipeline and the issue tracking that is #66.

Please feel free to leave any feedback or suggestions on that issue and i'm going to close this in the meantime.

Thanks very much for using the library

[2019-08-07 17:28] #24 closed

[2019-08-07 21:48] Romanx commented on #65
I've just merged this into master. I'll leave it a few days to see if I can fit anything else into the next release.

Thanks for your suggestion and using the library!

[2019-08-09 08:52] marijnz0r commented on #66
Yes, sure! Please let me know if I can be of assistance.

[2019-08-11 11:55] Romanx opened #69 "Section iteration blacklist should be able to be added to"
Sometimes types are both objects and lists such as `IDictionary` which you don't want the standard iteration functionality of a section tag.

We have a blacklist for these types which currently defaults to `string` and `IDictionary` and you can override this entirely however if you want to add a singular item on top of the defaults you can't.

[2019-08-11 12:42] Romanx commented on #65
Thank you for your contribution @mingwli. This has now been released on to nuget in v1.4.14.

Please let me know if you have any issues and thank you for using Stubble.

[2019-08-11 12:42] #65 closed

[2019-08-11 12:42] Romanx commented on #56
Thank you for your contribution @Tasteful. This has now been released on to nuget in v1.4.14.

Please let me know if you have any issues and thank you for using Stubble.

[2019-08-11 12:42] #56 closed

[2019-08-11 12:42] Romanx commented on #69
This has now been released on to nuget in v1.4.14.

[2019-08-11 12:42] #69 closed

[2019-09-15 06:50] Tasteful opened #72 "Repeat sections"
When creating templates I sometimes have the need to repeat the sections X amount of times. If we see the current sections implementation it handle number as if-condition (0 = false,other value = true). If the section got a list or dictionary as value the template is iterating over the items in the value.

Is there any possibility today to do something like this?
Is it possible to add the feature

[2019-09-15 09:45] Romanx commented on #72
Hey,

Thanks for posting this. The core of Stubble is to provide an accurate and fast implementation of the mustache language without any _"extra"_ functionality by default. Since this would be a deviation from that we wouldn't include it in the base library.

Since this seems like a rather niche usecase you could extend `SectionTokenRenderer` with your own implementation and replace it using the

[2019-09-15 09:45] #72 closed

[2019-09-30 20:50] Ashtonian opened #73 "set default value if token not found"
I'm trying to figure out how to intercept the token resolver so that I can provide a different value if the key is not in the context dictionary. My specific use case is that I will always have an entity ID but may not have details on that entity and would like to print the id instead of the details when details are not present.

[code]

I've tried playing with the value getter but couldn't get it

[2019-10-04 08:03] Romanx commented on #73
Hi there,

I currently have spotty access to internet so won't be able to look for a few days but i'll assign this to myself to give you feedback when I can.

[2019-10-22 09:10] MorphiksBuilder commented on #73
I'd advise to either
- Set the default value from code (just test your value and set the default if none exist
- Use `Hello {{User.Email}}{{^User.Email}}MY_DEFAULT_VALUE{{/User.Email}}`. That's the clean mustach way of doing it. Moreover you give the info in the template rather than hiding it in impl.

[2019-10-29 03:18] Incarnation-p-lee opened #74 "[Question]: Configure the behavior if key is not found from model."
Is there any way to configure the behavior of stubble, if the key of template is not found from provide map ?

For example, there is one template `{{name}}`, with Dictionary `{"city": "abc"}`, when try to Process by default the `{{name}}` will be replace to `""` silently. Here I would like to execption out or complain the key is missing from Dictionary.

[2019-10-29 09:19] Romanx commented on #74
Hi there,

Thanks for using Stubble. There is a setting on the `RenderSettings` argument that you can do this with. If you set `ThrowOnDataMiss` to true then it will throw when data is missing as you would like.

This setting gets passed into the render method. We should probably make this setting clearer so thank you for bringing it to our attention.

Thanks,

[2019-10-29 09:19] #74 closed

[2019-10-29 10:41] Incarnation-p-lee commented on #74
@Romanx
Thanks a lot, also locate it from code, suggest to add it to `README.md`.

[2019-11-02 16:50] amithegde opened #75 "make license show up on github"
as of now github shows view license, which can be changed to show MIT which is the license used for the repo. Makes it quick for users!

[2019-11-03 17:47] amithegde opened #77 "how to render list with comma separated values without trailing comma?"
I noticed https://github.com/samskivert/jmustache has a feature to print comma separated values without trailing comma using a template like this:

`{{#items}}{{name}}{{^-last}}, {{/-last}}{{/items}}`

what is the recommended approach here?

[2019-11-04 11:51] Romanx commented on #77
Hi there,

We deliberately try to implement the mustache standard without any of the extras that other implementations provide.

There are some standard mustache ways of doing this which is usually manipulating your data which you can find [here.](https://stackoverflow.com/questions/6114435/in-mustache-templating-is-there-an-elegant-way-of-expressing-a-comma-separated-l)

You can register your own

[2019-11-04 11:51] #77 closed

[2019-11-04 12:10] Romanx commented on #75
Hi there,

The reason we're linking to our specific license is because we have an added section relating to [Markdig](https://github.com/lunet-io/markdig) who's code we have lovingly copied and we need to display.

Thanks for your request

[2019-11-04 12:10] #75 closed

[2019-11-22 12:18] Romanx commented on #63
We have now internalised this by allowing a culture info to be specified however it is defaulted to invariant culture.

[2019-11-22 12:18] #63 closed

[2019-11-22 12:28] Romanx commented on #73
@Ashtonian Sorry for taking some time to get back to you. I've tested the example you gave and was able to hit a breakpoint in the value getter. The value getter only gets called if it's the same type or assignable to the given type so the argument has to be a `Dictionary<string, object>` for this to be called. The catch all handler is `object` and so the bottom type.

However I would agree with @

[2019-11-22 12:28] #73 closed

[2019-11-26 20:55] herme063 opened #79 "template for json object"
I need to stub in a json data, how do I do that?

I tried to pass the object as is but it is replaced by the ToString() result. When I pass in a json string instead, all the quotes are escaped (replaced with the html encoded version).

    matrix: {
        type: "local",
        store: {
            fields: ["Gender", "Field", "AgeGroup"],
            data: {{Data}}
        },
        leftAxis: {

[2019-11-27 15:52] Romanx commented on #79
Hi there,

This the escaping would be standard mustache. You can un-escape by using `{{{`.

We call string on any objects that we need to render since this is the simplest way to get the string representation of it.

[2019-11-27 16:15] herme063 commented on #79
works great, thank you!

[2019-11-27 16:15] #79 closed

[2019-11-29 10:25] jnferner opened #80 "Compiled renderer ignores truthy conditions"
MCVE:

[code]
When using the default renderer, this code renders "foo". However, the compiled renderer sees `Condition` as `false` and doesn't render anything.

[2019-11-29 12:15] jnferner opened #81 "Compiled renderer does not throw on ambiguous views"
When using the setting `SetIgnoreCaseOnKeyLookup(true)`, the behavior when passing an ambiguous view.
On the template
`"{{name}}"`
with the view
[code]
the regular renderer throws an `StubbleException`, while the compiled one simply uses the first property, resulting in `"foo"`

[2019-11-30 14:28] Romanx commented on #81
Hey there,

Thanks for opening this issue. You're right this is definately an oversight and I get an argument exception on the default renderer since we're not handling this case gracefully.

I've added a new exception type `StubbleAmbigousMatchException` which will be thrown when this happens, on Compile for the compilation renderer and on Render for the standard renderer.

I'll get this merged s

[2019-12-01 00:10] Romanx commented on #80
Hi there,

Thanks again for the great reproduction, while unpicking this I found plenty of other cases where this didn't work, our test coverage was lacking and we just lacked feature parity with the standard renderer.

I've changed how the truthy checks work, added more test coverage around that area and at the same time simplified some of the generated code.

I'll aim to get this released tomorr

[2019-12-01 21:51] Romanx commented on #80
@jnferner Thanks very much for reporting this. It has been fixed in release 1.6.3 and has now been released on nuget.

Please let us know if you have any other issues.

[2019-12-01 21:51] #80 closed

[2019-12-01 21:52] Romanx commented on #81
@jnferner Thanks very much for reporting this. It has been fixed in release 1.6.3 and has now been released on nuget.

Please let us know if you have any other issues.

[2019-12-01 21:52] #81 closed

[2019-12-05 07:56] jnferner commented on #80
Thanks for the quick fixes :)

[2019-12-05 12:55] simonech opened #84 "ASP.NET MVC view engine"
More a question than an issue: is there an implementation of a ViewEngine for ASP.NET MVC5 or ASP.NET MVC Core?

[2019-12-05 18:58] Romanx commented on #84
Hi there,

The closest you will find is the Nustache MVC5 view engine which is another project that I support and the predecessor to Stubble.

It is something I've considered so maybe it is worth adding a issue for it.

[2019-12-05 21:21] simonech commented on #84
I’m about to start a project that might require using mustache for net as view engine. I’ve had some experience in the early days of asp.net mvc with view engines. I might give it a go in case.

Sent from my iPhone

[2019-12-05 22:39] Romanx commented on #84
That sounds great. I'd be happy to link to the project and offer any help I could.

Please feel free to open another issue with any problems you face

[2019-12-05 22:39] #84 closed

[2019-12-12 03:29] josesimoes opened #85 "Provide strongly-named assembly"
Hi,

I was trying to use this library in a VS extension that I'm working but can't do it because it's not signed.
I can submit a PR for this, if you're willing to accept it.

[2020-01-14 22:34] ipjohnson opened #86 "Performance"
I'm curious what kind of performance this has compared to something like razor?

[2020-01-15 13:49] Romanx commented on #86
Hi there,

Unfortunately its not really an Apples to Apples comparison since Razor does a lot more and spends much more time compiling the template to create an ultra efficient renderer.

We're the fastest mustache renderer (that we've found) and hold up well against other renderers as seen [here.](https://xoofx.com/blog/2017/11/13/implementing-a-text-templating-language-and-engine-for-dotnet/)

I

[2020-01-15 13:49] #86 closed

[2020-01-25 11:46] yuzd opened #87 "how to change syntax ?"
can i

change

{{  }}

 to

<%=   %>

[2020-01-27 10:02] Romanx commented on #87
Hi there,

When configuring your renderer as defined in the getting started guide [here](https://github.com/StubbleOrg/Stubble/blob/master/docs/how-to.md) you can call the method `SetDefaultTags` which takes an object allowing you to define the tags. This would look like this:
[code]

Another option is to use the Set Delimiter tag in your template like this: `{{=<% %>=}}`

Hope that helps,

[2020-01-27 10:02] #87 closed

[2020-01-27 12:13] yuzd commented on #87
thanks

[2020-02-13 21:19] alexdresko opened #88 "Async/Await token function?"
I apologize if I got the terminology wrong.  I'm finding that it's not possible to have a token function that returns a `Task<object>`.  So in this example, the `TestMethodAsync` token isn't working at all (although it is being stripped from the template).

[code]

LINQPad demo [here](http://share.linqpad.net/lriiwk.linq)

[2020-02-14 14:42] Romanx commented on #88
Hi there,

Don't worry about the terminology. It looks like what's happening here is that our lambda function implementation does not handle Tasks (so does not await them). This means that it's being seen as a truthy check on a value which is true since the method does exist and so the content is being rendered.

The reason we don't await the lambda is mostly due to the fact we try to stick to mus

[2020-02-14 14:52] alexdresko commented on #88
I understand if you don't want to change the implementation, but, personally, I'm okay with the render time being slowed due to the work I'm doing in my lambda functions. Plus, just because a lambda returns Task doesn't mean it's a long-running operation.  Also, developers can still perform long-running operations in lambda functions that don't support Task.

I can't do my lookups before, because

[2020-02-17 17:39] DeanMauro commented on #85
@josesimoes I had the same problem. You can use [StrongNamer](https://github.com/dsplaisted/strongnamer) in the meantime.

[2020-02-17 18:17] josesimoes commented on #85
Thanks @DeanMauro! Wasn't aware of that tool. Very handy!! 👏 👍

[2020-02-24 08:22] Romanx commented on #85
Hi everyone, sorry for not replying sooner. I originally did strong name Stubble and then removed it when i discovered StrongNamer which was linked above. Recent guidance from MS is that you should strongly name your assembly and considering the way we version the library we can be sure that the binding redirect will not change (until we do a major version bump) so this _should_ be safe.

I'll lea

[2020-02-24 08:24] Romanx commented on #88
Hi there,

I've had a thought about this and for async rendering I agree it doesn't make sense the async lambdas aren't handled correctly. This will make both the sync and async paths act slightly differently but in this case I'd argue that would be expected but we should document it. I'll mark this as a feature and hopefully get to it by the weekend.

Thanks for reporting and using Stubble!

[2020-02-24 17:46] alexdresko commented on #88
Cool! Looking forward to the enhancement. I'll be happy to report my findings.

[2020-03-01 11:44] #88 closed

[2020-03-01 11:45] Romanx commented on #88
Hi there,

This has now been completed and will be released shortly. Please let me know if you have any issues. Thanks for using Stubble!

[2020-03-04 19:26] alexdresko commented on #88
Well, all of our unit tests are passing after updating the nuget package and making everything async!!

Thanks so much! This is a pretty big/important change for us.

[2020-03-04 19:39] Romanx commented on #88
You're welcome, I'm glad we could help.

[2020-03-17 17:59] paulodiogo opened #90 "Is it possible to pass a Dictionary<string, Func<IParametro, object>> to Render?"
Hello, I have an complex and dynamic object that has a list of `IParametro` and these guys has an method `ObterValor`. I am trying to render a template that is like ´XPTO  {{X}}´ where X is a `IParametro`.

I am trying to do something like:
[code]

But the render returns: XPTO System.Func`2[LogicaPesquisa.Negocio.IParametro,System.Object]

Is it possible to pass a Dictionary<string, Func<IParametr

[2020-03-18 10:10] Romanx commented on #90
Hi there,

I'm not entirely sure of the use case but the only way to have a `Func` called when rendering is to us our Lambda functionality, the issue here is your signature doesn't match what Stubble expects. If stubble doesn't know how to render a value it will call `ToString` on the value so one option if you're trying to render a template `XPTO {{X}}` where X is a `IParametro` is to add a `ToSt

[2020-03-19 16:41] paulodiogo commented on #90
That helped. I used other aproach and in the end used a ´Dictionary<string, string>´.

Thank you! You guys made a great job here!

[2020-03-19 16:41] #90 closed

[2020-03-26 18:14] 0x15e opened #91 "Dynamic support is incomplete"
I just got done troubleshooting a problem with Stubble not resolving properties on a custom object derived from `DynamicObject` and after seriously starting to doubt my sanity, finally found the culprit in the default value getters that were being set in [RendererSettingsDefaults.cs](https://github.com/StubbleOrg/Stubble/blob/master/src/Stubble.Core/Settings/RendererSettingsDefaults.cs). The defau

[2020-04-03 07:58] mingwli opened #92 "More stable type sorting"
Hi, Stubble is really amazing, but still we got a problem when trying to add a `CustomValueGetter`for newtonsoft `JArray`. The custom valueGetter got sorted after `IList`.

Further troubleshooting showed that current `TypeBySubclassAndAssignableImpl` may give unstable result for complex Class and Interface, which may lead to custom valueGetters get ignored.

Take following Types for example:
[code

[2020-04-03 08:35] mingwli commented on #92
Could there be a way configuring not to use default value getters?

[2020-04-03 08:48] Romanx commented on #92
Hi there,

Thanks very much for this and the PR. We could definitely add a way to only use the provided value getters, what would the goal be and when would you see this being used?

[2020-04-03 08:50] Romanx commented on #91
Hi there,

Thanks very much for this very well put together issue. I'd be happy to accept a pull request and work with you to get this merged. I thought there may be some issues around dynamics but didn't have the knowledge to improve it so thank you very much!

[2020-04-03 11:20] mingwli commented on #92
#### background
For some reason we need to support such syntax.
[code]

Since we are using newtonsoft json as data-model, we added our custom value getter for `JObject`(the ONLY one).
And for such data-model
[code]
The `section` doesn't function as expected.

#### what we tried
So we added a value getter for `JArray`, and noticed that this getter is not guaranteed to be invoked due to the Type sor

[2020-04-03 18:45] 0x15e commented on #91
@Romanx sounds good. This has been a learning experience for me too. :)

I was thinking of doing an implementation where it tries the existing approach first because it's bound to be faster, then using the `IDynamicMetaObjectProvider` approach next if that doesn't work.

I should have some time today to polish up that gist and will try to have a PR for you in the next few days.

[2020-04-03 20:19] Romanx commented on #91
That sounds like a great idea, will look forward to it!

[2020-04-07 02:58] mingwli commented on #92
@Romanx After more investigation, we noticed that for following case
[code]
is caused by missing `JValue` type value getter. By adding `JValue` type value getter and also add it to section blacklist, the template worked.
You can close this one : P

[2020-04-07 17:19] Romanx commented on #92
Hi @mingwli if it helps we have a an extension for Newtonsoft.Json [here.](https://github.com/StubbleOrg/Stubble.Extensions.JsonNet) which includes value getters.

I think the core issue of an unstable sort still needs to be fixed so i'll keep this open while we fix that. Thanks for the report though!

[2020-04-22 15:57] 0x15e commented on #91
@Romanx any chance you've had an opportunity to review that PR?

[2020-04-27 10:19] iKuzmich opened #96 "Culture code is not applied with CultureInfo in RenderSettings."
I am going to specify Dutch date format in my Stubble template. To have **dd/mm/yyyy** format.

[code]

But still having **mm/dd/yyyy** formatted dates.

Please advise.

[2020-04-27 10:23] iKuzmich commented on #96
Was created by mistake. This works fine.

[2020-04-27 10:23] #96 closed

[2020-04-29 09:55] Romanx commented on #96
Good to know you solved your problem 👍

[2020-05-01 13:45] #91 closed

[2020-05-01 14:16] Romanx opened #98 "Non negative indexes on collections should return empty"

[2020-05-01 14:22] #92 closed

[2020-05-01 14:28] Romanx commented on #98
@mingwli Thanks for your patience. I just merged your PR and it was released in 1.8.4

[2020-05-01 14:28] #98 closed

[2020-05-01 14:29] Romanx commented on #92
@mingwli Thanks for the original contribution. I just merged the changes and cut a release. This is in stubble 1.8.4!

[2020-05-01 14:30] Romanx commented on #91
@0x15e Thanks for your contribution. I got it merged and released today in version 1.8.4. Please let me know if you have any issues.

[2020-05-05 09:03] schwarzr commented on #85
StrongNamer does not really work for me, becuause i want to use package a Dependency for my own strong named library. Are you planning on Signing you assemblies in the future. Seams to be the official recommendation from Microsoft.
https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/strong-naming

[2020-05-05 11:51] Romanx commented on #85
Hi @schwarzr it's on my list to do but i'm not sure the effect of adding strong naming as a non major version change.

[2020-05-22 15:01] jlocke427 opened #99 "ValueGetter order is not deterministic and isn't always the expected order"
We have been playing around with Mustache templating for some projects and we noticed an odd issue with conditionals. I have attached a repository for you to take a look at with the minimum amount of code to reproduce the issue [https://github.com/jlocke427/MustacheBug](url). It appears that how the dependent assemblies (Specifically Newtonsoft.json) are being loaded is changing the behavior of th

[2020-05-23 11:08] Romanx commented on #99
Hey @jlocke427,

Thanks for opening the issue. I took at a look at this and worked out that it's occuring due to us expecting the way we get values from an object to occur in a specific order. We store these in an ImmutableDictionary which we order the items before we store them. ImmutableDicitionary however isn't deterministic so sometimes will get a different order.

In this case the `IDynamicMe

[2020-05-23 11:09] Romanx opened #100 "Nuget packages should be built deterministically and including untracked sources"
When using nuget package manager it reports our package isn't deterministic and isn't including generated untracked sources by `Nerdbank.GitVersion`

[2020-05-23 13:09] #100 closed

[2020-05-23 13:10] Romanx commented on #99
Thanks @jlocke427 again for reporting. This has just been released in v1.9.3.

Please let us know if you still have any issues

[2020-05-23 13:10] #99 closed

[2020-05-27 22:32] cconfer-livly opened #103 "Custom default tags are not passed on to partials during rendering"
PartialTokenRenderer.cs [line 26] looks like it should be passing along the default tags to the parser.
`renderer.Render(context.RendererSettings.Parser.Parse(template, startingTags: context.RendererSettings.DefaultTags, lineIndent: obj.LineIndent), context);` << or something of the sort

Not sure if this is by design or a bug.

In order to reproduce, use a variable in a partial template while ren

[2020-05-28 17:47] Romanx commented on #103
Hey @cconfer-livly,

This is actually a deliberate choice. It's not noted in the markdown spec although the spec tests are clear on this [here.](https://github.com/mustache/spec/blob/master/specs/partials.yml#L8-L11)

The reason for this is immediately clear but if you think of them as external reusable pieces of templating then having them require the rendering contexts can cause things to sudden

[2020-05-28 17:48] #103 closed

[2020-05-28 18:22] cconfer-livly commented on #103
thanks @Romanx !

appreciate the response.

[2020-07-13 05:40] drinkmuffin opened #104 "I Need to set QR code by base64"
HI

my html like this

 <img src='{{qrCodeSrc}}' />

qrCodeSrc set 'data:image/png;base64,...........'

but the result will be "<img>" src is empty

what need i do?

[2020-07-13 12:00] Romanx commented on #104
Hi there,

I'm not sure I can work out what is wrong from your sample. Can you provide a some reproduction code?

Thanks,

[2020-07-14 04:13] drinkmuffin commented on #104
this template is
"&lt;!DOCTYPE html&gt;&lt;html&gt;&lt;head&gt;&lt;meta charset=&quot;utf-8&quot; /&gt;&lt;title&gt;&lt;/title&gt;&lt;/head&gt;&lt;body&gt;&lt;div&gt;&lt;img src=&quot;{{qrCodeSrc}}&quot; /&gt;&lt;/div&gt;&lt;/body&gt;&lt;/html&gt;"

the qrCodeSrc = "'data:image/png;base64,...........'"

after result will be "&lt;img&gt;&lt;/img&gt;"

i hope the image display by data-url(base64)

[2020-07-14 07:20] Romanx commented on #104
Hi there,

Your example looks like it should work fine. Your code should look something like this

[code]

[2020-07-28 12:22] Romanx commented on #104
I'm going to close this due to inactivity, hopefully the example helped.

[2020-07-28 12:22] #104 closed

[2020-08-07 08:03] snipervld commented on #74
@Romanx Sorry for necroposting.

Maybe, it's possible to add a way to handle non-existing keys?
This can be used to render custom text instead of missing value, e.g. "some text {{name}}" => "some text Key Is Missing", or even "some text {{name}}" => "some text {{name}}" (preserve key)

I've implemented whis behaviour myself in my project, but it would be nice, if there is a generic solution for th

[2020-08-13 19:44] natehitze opened #106 "Possible null reference exception in compiled renderer"
It's possible to get the compiled renderer to throw a null reference exception by adding a null item to a list in the model and then iterating over the list and accessing a property in the template.

Model:
[code]

Template:
[code]

If you execute a compiled renderer function for that template with the example input you will get a `NullReferenceException`. I ran into this on a simple template & in

[2020-08-31 08:55] dmitry-lp opened #107 "Templating with ValueTuples."
Is there a possibility to make Stubble work with Tuples (not the Tuple<> class but https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/value-tuples)?

For exemple if I run

            var stubble = new StubbleBuilder().Build();

            string template ="<program name=\"{{Name}}\"></program>";

            Data data = new Data(){Name = "FooBar"};
            Consol

[2020-09-01 08:27] Romanx commented on #107
Interesting, this should be possible to add but i'm aware that these names are actually syntactic sugar over Item1, ItemX with attributes identifying them across assembly.

I'll put this as a feature and see what we can do, thanks for your contribution!

[2020-09-01 13:22] dmitry-lp commented on #107
Yes it looks like in some cases like Method results the compiler attaches `TupleElementNamesAttribute` but the objects are basically ValueTuples and as you said those are Item1, Item2, ...
They have similar discussion on Newtonsoft.Json repo https://github.com/JamesNK/Newtonsoft.Json/issues/1230

[2020-09-08 15:06] dmitry-lp commented on #107
Just tested and the workaround would be to use anonymous types. It works nice for me

            `var data3 = new { Name = "FooBar", date = "01/01/2001" };
            Console.WriteLine(stubble.RenderAsync(template, data3).Result);`

[2020-10-05 07:59] Romanx opened #109 "Add 'Recipe' docs for how to do common templates"
- For example parent -> child templates using partial templates.

[2020-10-05 08:04] Romanx commented on #107
Hi there,

Sorry for the delay at taking a look at this, I found that this was particularly difficult in that the atrribute containing the names of the tuple members is only added when the tuple is used as the return type of a method which isn't a guarantee when being passed to Stubble since it could be passed as a first class argument which may or may not have been given that information.

I'm go

[2020-10-05 08:04] #107 closed

[2020-10-05 08:12] dmitry-lp commented on #107
No that's ok but in this type of scenario named tuples and anonymous types are equivalent. Just I started by testing Tuples ;)

[2020-10-06 07:32] appelgran commented on #109
I think this would be really useful. As you said in #108 "...things like this that are standard mustache...". Where would one learn that standard mustache? The manual mustache(5) only covers mustache syntax and nothing about implementation even in general terms.

Please use my example from #108 . I don't know if I even got that absolutely correct. I'm not really in position to author more examples

[2020-10-09 04:37] dhruvalShahTatvasoft opened #110 "How can I solve nested stubble values from mustache"
Example is as below:
{{ config.mapping.value[ {{ input.Id}} ] }}

Here, config and  input is the provided Json objects, and I want to access it's values.

[2020-10-09 08:08] Romanx commented on #110
Hi there,

In mustache you're not able to perform templating inside your tags. You could make a lambda which would return you the value when you run the template however the recommended approach is to massage your inputs into a "good" shape before templating so there is no logic in your templates.

Hopefully that helps.

[2020-10-09 08:08] #110 closed

[2020-11-11 15:54] anisite opened #111 "Any idea to .net core Startup.cs Factory for StubbleBuilder?"
Hi,

How can I use Stubble in my .net core web site? All my actual dependencies are injected with .AddScoped(). Your example are do not include injection sample code.

I can't find pretty solution to create a custom Helper with HttpContext injection in that Helper.

If I want, by example write in my template : {{UserName}} and automatically read that user name in HttpContext FROM an helper... no s

[2020-11-11 16:59] Romanx commented on #111
Hi there,

Stubble is agnostic of wherever the data is provided. You could write a method of providing information from the HttpContext although i'd advise against that as it feels like something that could be abused.

You can register a stubble renderer into your DI container and resolve it in your controller. When you're providing data to your template you can pull the data off the context as yo

[2020-11-11 18:12] anisite commented on #111
Ok, I will look into it!

[2020-12-09 15:08] ivanyurchenko1 opened #113 "Render variable names instead of empty strings?"
Hello,

This is not an issue but rather a question / feature request. We're using Stubble to render templates, and we don't know for certain which variables might be missing. We want to show user something like {{variable}} instead of an empty space in case the variable is missing, so at least he would be able to report this missing variable to us. Is it possible to configure / implement it in suc

[2020-12-10 14:42] Romanx commented on #113
Hi there,

It currently not possible to do this. we have the property `ThrowOnDataMiss` on the render settings which rather than silently returning empty it will throw when a value is not found.

This felt like a good compromise to keep Stubble working identical to the mustache spec and allowing the user to have some saftey if they desired it.

[2020-12-15 13:10] ivanyurchenko1 commented on #113
Thank you for the answer! I used `ThrowOnDataMiss` and added some logging to make sure we find the missing variables.

[2020-12-15 13:10] #113 closed

[2020-12-15 14:16] Romanx commented on #113
Good to know this helped you!

[2021-03-02 06:40] Anja-E commented on #85
Hi @Romanx. I would also need the strong named version of your package. Any updates to this topic?

[2021-03-28 06:14] srid commented on #109
Guys, how exactly are we supposed to do layouts in Stubble? Anybody have a working example? I might consider Stubble for https://github.com/srid/Feather/issues/1

[2021-04-01 23:32] #111 closed

[2021-05-18 18:12] natehitze opened #116 "Compiled renderer evaluating int? truthy value incorrectly"
A null value is being treated as truthy. I can fix it by manually adding truthy check to the compilation builder's config.

Here's a repro `Program.cs`. I have `Stubble.Core` and `Stubble.Compilation` both installed at version 1.9.3.

[code]

[2021-06-28 10:43] appelgran commented on #65
One can provide a custom encode method in this way (here I am setting it to `HttpUtility.HtmlAttributeEncode`):

    var stubble = new StubbleBuilder()
        .Configure(builder => builder.SetEncodingFunction((str) => System.Web.HttpUtility.HtmlAttributeEncode(str)))
        .Build();

Just writing it down for the next person coming along.

[2021-09-08 03:42] Alik2015 opened #117 "Get output as object rather than string from Render"
As Render(template,obj) returns a string.  Say you were building an Email Templating system and wanted to fill in subject and body of the email where subject is not part of the actual body would you need to call Render twice as follows:

[code]

[2021-09-08 08:55] Romanx commented on #117
Hey there,

The problem here is that you're templating two seperate templates. One being the body of your email and the second being the subject. If you're reusing these often then you can use our compilation feature to create a function from your template so we don't keep recompiling.

In the past when i've done a similar task the subject tends to be quite static and can usually be generated usin

[2021-09-08 09:09] Alik2015 commented on #117
It helps and I was just using subject as an example but would be good if you had a simple example of the function you mentioned. On 8 Sep 2021 09:55, Alex McAuliffe ***@***.***> wrote:
Hey there,
The problem here is that you're templating two seperate templates. One being the body of your email and the second being the subject. If you're reusing these often then you can use our compilation feature

[2021-09-08 09:21] Romanx commented on #117
The notes on compilation are [here.](https://github.com/StubbleOrg/Stubble/blob/master/docs/compilation.md) Without knowing your requirements i can't really offer more.

[2021-09-08 10:22] Alik2015 commented on #117
Great appreciate that that is how I was doing it anyway.On 8 Sep 2021 10:21, Alex McAuliffe ***@***.***> wrote:
The notes on compilation are here. Without knowing your requirements i can't really offer more.

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-09-08 12:49] #117 closed

[2021-11-22 07:53] farshidtorkaman opened #118 "Render a tag correctly however it is null!"
Hi. I have a object like this:

[code]

and this is how my html looks like:

[code]

rendered output:

item 1
150
red
category 1
1

item 2
250
category 1
1

item 3
350
category 1
1

item 4
450
category 1
1

As you can see color section is working and it is not displayed in view when it is null
but category and quantity is not working and display the first item from the list all the time

[2021-12-06 04:56] pratik-cognologix opened #119 "Not compatible with .Net standard 2.1 and .Net Core 3.1"
Getting this issue with .Net Standard 2.1 and .Net Core 3.1

Could not load file or assembly 'Stubble.Core, Version=1.9.0.0, Culture=neutral, PublicKeyToken=null'. The system cannot find the file specified.","exception":"System.IO.FileNotFoundException: Could not load file or assembly 'Stubble.Core, Version=1.9.0.0, Culture=neutral, PublicKeyToken=null'. The system cannot find the file specified.\

[2021-12-07 09:36] sjd2021 commented on #119
I'm actually very confused by this. This library has millions of downloads, and stubble seems to be very much supported. But I can't find any libraries which are up-to-date for it which makes me lean towards liquid templates which are less user friendly and require more code.. @pratik-cognologix  @amithegde could you point those of us on .NET Core 3.1 - .NET 6 in a general direction for some guida

[2021-12-07 09:39] sjd2021 commented on #119
@pratik-cognologix  @Romanx Do you have any idea what we should be doing for those of us on .NET Core 3.1 - NET 6?
Mustache support seems to be very much alive, but there are no recently available nuget packages that I can find for it, so I'm leaning towards liquid templates because there are libraries like fluid which support this. Is mustache actually dying out? I prefer it to liquid because the

[2021-12-07 09:47] pratik-cognologix commented on #119
@sjd2021 Thank you for suggesting me another good template engine was looking for long time that is live today :)  Actually my concern is the same, is mustache dying out, no recent updates and nuget packages available. Closing this thread.

Thank you @sjd2021 .

[2021-12-07 09:47] #119 closed

[2021-12-07 09:51] Romanx commented on #119
Hey there,

Stubble should work on netcore and netstandard and we'd love to fix it if it doesn't somehow and unfortunately your exception doesn't give enough information. If you have a repro I'd love to see it.

As for mustache, it as a templating language is effectively _finished_ this is to say it won't be changing and adding features. So if it supports what you need from a templating language t

[2021-12-13 03:39] Meowzz95 opened #120 "SetIgnoreCaseOnKeyLookup does not work"
[code]

The above sample code prints
`  world`

Expected:
`hello world`

Version
`<PackageReference Include="Stubble.Core" Version="1.9.3" />`

[2022-01-20 10:11] stan-sz commented on #120
Related to #114

[2022-03-08 03:32] xiaolei000129 opened #121 "An attribute in the template is "User.Name" Parse error"
An attribute in the template is  "User.Name" Parse error

[2022-03-08 03:33] xiaolei000129 commented on #121
{
   “User.Name”:"CongLei Duan"
}

[2022-05-09 19:36] phspies opened #122 "Parent nested object access"
I'm trying to access a parent nested value from a child loop. I tried a couple of combinations, but cannot get this to work.

[code]

[2022-08-05 14:14] EndOfTheSpline opened #126 "Render pipeline is not passed to partials"
While using Stubble.Helpers, I've encountered an issue that helpers are not working when used in a partial. I've traced the issue down to the `PartialTokenRenderer`, in particular this line:

https://github.com/StubbleOrg/Stubble/blob/4958ef8365d55d256df7169967dc1869337aab81/src/Stubble.Core/Renderers/StringRenderer/TokenRenderers/PartialTokenRenderer.cs#L45

Because the pipeline settings of the p

[2022-08-09 17:46] valeev opened #127 "Execute method with parameter's default value"
Hello there, I am stuck with small task, I want to execute a function which has parameter but this parameter has default value

From example Below I am expecting to get `"CityV1"` from last render

[code]

https://dotnetfiddle.net/9rqB6w

[2022-08-11 09:38] #121 closed

[2022-08-12 10:30] #127 closed

[2022-08-12 12:14] #126 closed

[2022-08-12 13:40] #37 closed

[2022-08-12 13:43] Romanx opened #131 "Add Cake plugin"
Succeeds #37

Create a cake extension that allows you to use stubble for templating when using [cakebuild](https://cakebuild.net/)

[2022-08-17 10:38] #116 closed

[2022-08-21 07:28] valeev commented on #127
@Romanx thanks for fix, do you have any expectations when 1.10 can be released to nuget?

[2022-08-21 10:42] Romanx commented on #127
Hi @valeev, hopefully I should be able to get it out today or tomorrow.

Thanks for submitting the issue and a clear repro

[2022-08-27 04:44] valeev commented on #127
@Romanx hope you are doing well, just wanted to check situation around 1.10, is it possible to push it at least as pre-release?
Thanks for reply in advance.

[2022-08-29 15:00] Romanx commented on #127
Hey @valeev! Thanks for your patience this has now been released to nuget as v1.10.8

Thanks for using stubble and letting us know about this

[2022-08-29 15:01] Romanx commented on #116
Hey @natehitze! Thanks for your patience this has now been released to nuget as v1.10.8

Thanks for using stubble and letting us know about this

[2022-08-29 15:01] Romanx commented on #126
Hey @EndOfTheSpline! Thanks for your patience this has now been released to nuget as v1.10.8

Thanks for using stubble and letting us know about this

[2022-08-29 15:02] Romanx commented on #120
Hey @Meowzz95, @stan-sz and @senneclaeskens

Thanks for your patience this has now been released to nuget as v1.10.8. Thanks for using stubble and letting us know about this

[2022-08-29 15:02] #120 closed

[2022-08-29 15:05] Romanx commented on #106
Hey @natehitze,

Thanks for reporting this and submitting a PR. This was entirely an oversight in the compilation renderer design. I've approached the solution in a slightly different way which makes all access safe.

The feature is now on nuget a v1.10.8

[2022-08-29 15:06] Romanx commented on #122
Hey i'm going to close this due to inactivity, feel free to open a new issue with a minimal reproduction if you're still having issues.

[2022-08-29 15:06] #122 closed

[2022-08-29 15:07] Romanx commented on #118
Hey @farshidtorkaman

This may have been related to #116 but i'm not able to be sure, if you could try again and open another issue with a minimal reproduction if you're still having issues we'd be happy to help.

Thanks!

[2022-08-29 15:07] #118 closed

[2022-09-05 20:05] natehitze opened #134 "Compiled renderer throws exception when compiling interpolated nullable int"
Occurs in version 1.10.8

Program.cs
[code]

Exception thrown during `Compile`:
[code]

[2022-09-15 12:42] Baccanno commented on #46
Took some time to get a feedback on this, but it works perfectly well ! Thank you so much.

[2022-09-15 12:45] Romanx commented on #46
@Baccanno Good to hear that it works for you!

[2022-09-16 11:37] Baccanno opened #135 "Truthiness on a Dictionary<string, object>"
I recently swapped from Nustach to Stubble, it was quite a breath. Howerver a peculiar usecase seems to be suddenly non functional (stubble 1.10.8)

[code]

The Dy section does `"{{{" + render(value) + "}}}"`
The Rec section does `render(render(value))`

Basically at the first Rec pass it was doing something like
`{{^Lang.Cards.MY_CODE}}! MY_CODE NO LANG{{/Lang.Cards.MY_CODE}}{{Lang.Cards.MY_CODE.

[2022-09-19 17:10] Baccanno commented on #135
The same actually occurs with empty values. For instance an empty anonymous object `{}` will not trigger `{^...}` rules

[2022-09-22 14:24] Romanx commented on #135
Hi there,

I don't suppose you'd be able to give a small reproduction case showing this that we can use to debug?

Thanks

[2022-09-22 18:37] Baccanno commented on #135
Mmh, well unfortunatelly not right now. I'd have to isolate.

[2022-09-23 08:23] Romanx commented on #135
Okay i had a closer read of your issue, as you noted truthy checks are complicated bar the base types.

So the simple answer
- If it's a reference type and it is null then we consider that to *not be truthy*.
- Any user registered truthy check is run here and overrides the others.
- If it's a standard value type (so bool, int, long, decimal, float, double) then it's truthy if it's not it's default

[2022-09-23 08:23] #135 closed

[2022-09-23 09:09] Romanx commented on #134
Thank you for submitting this and the excellent reproduction. While improving the safe null access we broke interpolation entirely, not sure how it worked before at all!

This has now been fixed so hopefully you shouldn't see it again, thank you for using the compilation renderer and we'll get a fixed version out shortly

[2022-09-23 09:18] #134 closed

[2022-09-23 10:11] Baccanno commented on #135
Thanks, this is indeed what I wanted to know, I was looking at the source code but had some hard time figuring out what was really happening.

My result is then quite strange isn't it ? As Lang.Cards is a dictionary `{{^Lang.Cards.MY_CODE}}! MY_CODE NO LANG{{/Lang.Cards.MY_CODE}}{{Lang.Cards.MY_CODE.CardName}}` should only validate one of the parts ?

I'll try to come back with a further debugging

[2022-10-02 07:04] ProIcons opened #137 "PartialTagParser exhaustion side effect?!"
https://github.com/StubbleOrg/Stubble/blob/7e5bab6c69d90ab898b84c158969495c0e05bbac/src/Stubble.Core/Parser/TokenParsers/PartialTagParser.cs#L59-L62

This should throw an exception instead of returning false. At this point there's nothing in the Slice, and the parser is moving to the next InlineParser -> `InterpolationTagParser`
which fails on

https://github.com/StubbleOrg/Stubble/blob/7e5bab6c69

[2022-10-02 07:21] ProIcons opened #139 "[Question/Discussion] Rework of the Parser to support more information on its output"
Would you be open on a Parser that doesn't throw Exceptions but instead returns `ParsingResult`s with the `MustacheTemplate` inside it, and the `ParserContext`. And in case of a failure the `ParsingFailure` and the state of the Processor up until this point to be included?

Then on the Rendering Side of things, the possible exceptions could be unwrapped and be thrown.

I'm considering into using y

[2022-10-18 17:08] Baccanno opened #140 "Anonymous object property is not retrieved"
Hi there, not sure it's a bug or I'm missing something, I'm in a deeply nested context and the following happens :

(I simplified the representation)

[code]

It gets up to a Section Renderer which try to parse a `{{#Resources}}` tag.

While debugging, I see that it recognize the anonymous object as either a IList, (in which case it tries to parse the tag as an int and fails) or as a standard obje

[2022-10-18 17:14] Baccanno commented on #140
I'll use a Dictionary as it might fix the issue momentarily. But I'm using anonymous type most of the time in the application as I came from Nustache.

Is it unadvised to use anonymous types ? I'm starting to think that some unexpected behaviours might be coming from this, but I'd like to be sure as It's a refactoring the goes through a lot of files.

[2022-10-18 18:04] Baccanno commented on #140
Wierdly enough, a dictionary does not help. https://github.com/StubbleOrg/Stubble/blob/18d8e8aef39907d940f245aa6a8a8ed6a598b28d/src/Stubble.Core/Renderers/StringRenderer/TokenRenderers/SectionTokenRenderer.cs#L38
I still get a null value here when looking up `Resources`

https://github.com/StubbleOrg/Stubble/blob/18d8e8aef39907d940f245aa6a8a8ed6a598b28d/src/Stubble.Core/Contexts/Context.cs#L271

I

[2022-10-18 18:23] Baccanno commented on #140
Okay, so the Value gets retrieved as a List<Object> instead of a Dictionary. Is Stubble converting data at some point? Or is it my fault :D ?

![image](https://user-images.githubusercontent.com/3664080/196513226-0e102848-9bc4-48c9-8b10-d6ad2a790ef5.png)

[2022-10-18 18:25] Baccanno commented on #140
Definitelly me `List<dynamic> GetPickablesLang();`

[2022-10-18 20:37] Baccanno commented on #140
Definitelly my fault. I missed a SelectMany and had instead a simple Select so the list was not flatten.

[2022-10-18 20:37] #140 closed, assigned to nobody